<mat-card>
    <h2 class="alinear">Resultados de examenes de admisión</h2>
    <mat-card-header>
        <div>
            <mat-form-field hintLabel="Buscar por fecha" appearance="fill">
                <mat-label>Buscar</mat-label>
                <input matInput #input>
            </mat-form-field>
        </div>
    </mat-card-header>
    <mat-card-content>
        <table mat-table class="mat-cell" [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
            <ng-container matColumnDef="noExpediente">
                <th class="text-center-column" mat-header-cell *matHeaderCellDef>No. EXPEDIENTE</th>
                <td class="text-center-column" mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element">
                        {{element.noExpediente}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="anio">
                <th class="text-center-column" mat-header-cell *matHeaderCellDef>AÑO</th>
                <td class="text-center-column" mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element">
                        {{element.anio}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
                <th class="text-center-column" mat-header-cell *matHeaderCellDef>DESCRIPCION</th>
                <td class="text-center-column" mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element">
                        {{element.descripcion}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="nota">
                <th class="text-center-column" mat-header-cell *matHeaderCellDef>NOTA</th>
                <td class="text-center-column" mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element">
                        {{element.nota}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th class="text-center-column" mat-header-cell *matHeaderCellDef>ACCIONES</th>
                <td class="text-center-column" mat-cell *matCellDef="let element; let i=index">
                    <button mat-icon-button color="accent">
                        <mat-icon aria-label="Asignar">
                            card_membership
                        </mat-icon>
                    </button>
                </td>
            </ng-container>
        </table>
    </mat-card-content>
</mat-card>